<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">

    <title>TFESR</title>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-light flex-column flex-md-row" style="padding-top: 0; padding-bottom: 0">
        <a class="navbar-brand" href="@Url.Action("HomePage", "Home")">
            <img src="~/img/logo.png" class="nav__logo"/>
        </a>
        <img src="~/img/profile.png" style="width: 40px; height: 40px;" class="ml-auto mr-1"/>
        <button type="button" class="btn btn-secondary" style="background-color: initial; border: none; font-family: 'Mukta', sans-serif">
            Log out
        </button>
    </nav>
</header>

<!-- Модальное окно выбора типа ТЗ-->
<div class="modal fade" id="ts-type-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="font-family: 'Mukta', sans-serif">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #E5E5E5">
                <h5 class="modal-title">Which type of technical specification do you prefer?</h5>
                <button type="button" style="border: none; background-color: #E5E5E5" id="hide-ts-modal">x</button>
            </div>
            <div class="modal-footer" style="justify-content: space-between">
                <button id="self-written-button" type="button" class="btn" style="background-color: #FCA311">Self-written</button>
                <a href="@Url.Action("CreateProject", "ProjectManagement")" type="button" class="btn" style="background-color: #FCA311">Redactor</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="font-family: 'Mukta', sans-serif">
    <div class="row">
        <div class="d-flex flex-column p-3 text-light account-nav-bar col-md-3 col-lg-2 d-md-block" >
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a class="nav-link" id="create-project" role="button" style="color: #000000;">
                        <i class="fi-rr-magic-wand"></i>
                        Create project
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ProjectManager", "ProjectManagement")" class="nav-link" id="my-projects" role="button" style="color: #000000;">
                        <i class="fi-rr-browser"></i>
                        My projects
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link" id="support" role="button" style="color: #000000;">
                        <i class="fi-rr-life-ring"></i>
                        Support
                    </a>
                </li>
            </ul>
            <hr>
        </div>
        
        <main class="col-md-9 col-lg-10 px-md-4">
        @RenderBody()
        </main>

    </div>
</div>
</body>

<script>
$(document).ready(function (){
    $("#create-project").click(function (){
        $("#ts-type-modal").modal('show');
    });
});

$(document).ready(function(){
    $("#hide-ts-modal").click(function(){
        $("#ts-type-modal").modal('hide');
    });
});

$(document).ready(function (){
    $("#create-project-btn").click(function (){
        $("#ts-type-modal").modal('show');
    });
});


$(document).ready(function() {
  $("#@ViewBag.CurrentPage").css('background-color', '#FCA311')
})
</script>
</html>