<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="../wwwroot/js/jquery.js"></script>
    <script src="../wwwroot/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" type="text/css" href="../wwwroot/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../wwwroot/css/style.css">

    <title>TFESR</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light flex-column flex-md-row">
            <a class="navbar-brand" href="#">TFESR</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li>
            </ul>
            <button type="button" class="btn btn-primary ml-auto mr-1"
                style="background-color: #FF4081; border: none;">Sign In</button>
            <button type="button" class="btn btn-secondary" style="background-color: initial; border: none;">Log
                In</button>
        </nav>
    </header>
    <section class="container-fluid">
        <div class="jumbotron" style="background-color: #FFF9C4;">
            <h1 class="display-4">TFESR - project wich creates projects</h1>
            <p class="lead" style="color: #757575;">Our team produces IT products according to your requirements</p>
            <hr class="my-4">
            <p style="color: #BDBDBD;">Since 2021 year using the freshest technologies and professional team we create
                high-quality desktop
                server and web applications</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" style="background-color: #FF4081; border: none;" href="#"
                    role="button">Create your first project</a>
            </p>
        </div>
    </section>
    <section class="reviews">
        <div class="row">
            <h1 class="mx-auto">Reviews</h1>
        </div>
        <div class="row">
            <div class="col">
                <p class="lead">Thank you for the best Windows in the world</p>
                <p class="font-weight-light font-italic">Bill Gates</p>
            </div>
            <div class="col">
                <p class="lead">Better than Telegram!</p>
                <p class="font-weight-light font-italic">Pavel Durov</p>
            </div>
        </div>
    </section>
</body>

</html>