# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.GlassProject.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\projects\GlassProject\GlassProject\.idea\.idea.GlassProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
