@using Microsoft.AspNetCore.Mvc.Infrastructure
@{
    Layout = "_PersonalAccountLayout";
}

<main class="col-md-9 col-lg-10 px-md-4 py-5">
    <div class="row">
        <select class="form-select col-md-4 mx-auto" id="project-type">
            <option selected>Type of the project</option>
            <option value="Site"><a href="@Url.Action("PersonalAccount","PersonalAccount")">Site</a></option>
            <option value="App">Desktop application</option>
        </select>
    </div>
</main>

<script>
$(document).ready(function(){
    $("#hide-modal").click(function(){
        $("#ts-type-modal").modal('hide');
    });
});
</script>