@{
    Layout = "_PersonalAccountLayout";
}

<form class="col-md-4 mx-auto" id="site-project" style="display: none">
    <div style="margin: auto">

        <div class="col-12">
            <label class="form-label">Project name</label>
            <input type="text" class="form-control">
        </div>

        <div class="col-12">
            <label class="form-label">Site structure <span class="text-muted">(Optional)</span></label>
            <textarea type="text" class="form-control" rows="3"></textarea>
        </div>

        <div class="col-12">
            <label class="form-label">Site description</label>
            <textarea type="text" class="form-control" rows="3"></textarea>
        </div>

        <div class="col-12">
            <label for="lastName" class="form-label">Site requirements</label>
            <textarea type="text" class="form-control" rows="3"></textarea>
        </div>

        <div class="col-12">
            <label for="lastName" class="form-label">Site purpose</label>
            <textarea type="text" class="form-control" rows="3"></textarea>
        </div>

    </div>

    <hr class="my-4">
    <label class="form-label">Techologies</label>
    <div class="form-check">
        <input type="checkbox" class="form-check-input">
        <label class="form-check-label">At our discretion</label>
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input">
        <label class="form-check-label">ASP .NET Core</label>
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input">
        <label class="form-check-label">Bootstrap</label>
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input">
        <label class="form-check-label">React</label>
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input">
        <label class="form-check-label">Angular</label>
    </div>


    <hr class="my-4">

    <button class="w-100 btn btn-primary btn-lg" type="submit">Create order</button>
</form>