@{
    Layout = "_PersonalAccountLayout";
}
<!-- Модальное окно -->
<div class="modal fade" id="ts-type-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="font-family: 'Mukta', sans-serif">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #E5E5E5">
                <h5 class="modal-title">Which type of technical specification do you prefer?</h5>
                <button type="button" style="border: none; background-color: #E5E5E5" id="hide-modal">x</button>
            </div>
            <div class="modal-footer" style="justify-content: space-between">
                <button type="button" class="btn" style="background-color: #FCA311">Self-written</button>
                <button type="button" class="btn" style="background-color: #FCA311">TS Redactor</button>
            </div>
        </div>
    </div>
</div>

<main class="col-md-9 col-lg-10 px-md-4">
    <div class="d-flex flex-column text-center" style="padding-top: 15%;">
        <p class="lead">Oops! You don't have any project yet</p>
        <p class="lead">
            <a href="@Url.Action("PersonalAccount", "PersonalAccount")" class="btn btn-primary btn-lg" style="background-color: #FCA311; border: none;"
               role="button">
                Create project
            </a>
        </p>
    </div>
    @await Html.PartialAsync("_ProjectPartialView.cshtml")
</main>

<script>
$(function (){
    $("#create-project").click(function (){
        $("#ts-type-modal").modal('show');
    });
});

$(document).ready(function(){
    $("#hide-modal").click(function(){
        $("#ts-type-modal").modal('hide');
    });
});

$(document).ready(function() {
  $("#@ViewBag.CurrentPage").css('background-color', '#FCA311')
})
</script>