@{
    Layout = "_PersonalAccountLayout";
}

<main class="col-md-9 col-lg-10 px-md-4">
    <div class="d-flex flex-column text-center" style="padding-top: 15%;">
        <p class="lead">Oops! You don't have any project yet</p>
        <p class="lead">
            <a href="@Url.Action("PersonalAccount", "PersonalAccount")" class="btn btn-primary btn-lg" style="background-color: #FCA311; border: none;"
               role="button">
                Create project
            </a>
        </p>
    </div>
    @await Html.PartialAsync("_ProjectPartialView.cshtml")
</main>