<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">

    <title>TFESR</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light flex-column flex-md-row">
            <a class="navbar-brand" href="#"><img src="~/img/logo.png" class="nav__logo" /></a>
            <img src="~/img/profile.png" style="width: 40px; height: 40px;" class="ml-auto mr-1" />
            <button type="button" class="btn btn-secondary" style="background-color: initial; border: none;">Log
                Out</button>
        </nav>
    </header>
    <div class="d-flex flex-column p-3 text-light account-nav-bar">
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link" style="color: #000000;">
                    <i class="fi-rr-magic-wand"></i>
                    Create project
                </a>
            </li>
            <li>
                <a href="#" class="nav-link" style="color: #000000;">
                    <i class="fi-rr-browser"></i>
                    My projects
                </a>
            </li>
            <li>
                <a href="#" class="nav-link" style="color: #000000;">
                    <i class="fi-rr-life-ring"></i>
                    Support
                </a>
            </li>
        </ul>
        <hr>
    </div>

    <div class="b-example-divider"></div>
</body>

</html>