<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">

    <title>TFESR</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light flex-column flex-md-row">
            <a class="navbar-brand" href="#"><img src="~/img/logo.png" class="nav__logo" /></a>
            <ul class="navbar-nav" style="font-family: unit-slab;">
                <li class="nav-item">
                    <a class="nav-link" style="color: #6d6875" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #6d6875;" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #6d6875;" href="#">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #6d6875;" href="#">Projects</a>
                </li>
            </ul>
            <a href="@Url.Action("SignIn", "Home")" class="btn text-light ml-auto mr-1"
                    style="background-color: #0000; border: none; font-family: unit-slab;">
                Sign In
            </a>
            <a href="@Url.Action("SignUp", "Home")" class="btn text-light btn-secondary"
                style="background-color: initial; border: none; font-family: unit-slab;">Sign
                Up</a>
        </nav>
    </header>
    <section class="container-fluid" style="display: contents">
        <div class="jumbotron bg-light" style="font-family: unit-slab; margin: 0;">
            <h1 class="display-4">TFESR - project wich creates projects</h1>
            <p class="lead" style="color: #6D6875;">Our team produces IT products according to your requirements</p>
            <hr class="my-4">
            <p style="color: #6D6875;">Since 2021 year using the freshest technologies and professional team we create
                high-quality desktop
                server and web applications</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" style="background-color: #E5989B; border: none;" href="#"
                    role="button">Create your first project</a>
            </p>
        </div>
        <div class="reviews bg-light container-fluid" style="margin: 0;">
            <hr class="bg-dark" style="margin: 0">
            <div class="row">
                <h1 class="mx-auto">Reviews</h1>
            </div>
            <div class="row">
                <div class="col">
                    <p class="lead">Thank you for the best Windows in the world</p>
                    <p class="font-weight-light font-italic">Bill Gates</p>
                </div>
                <div class="col">
                    <p class="lead">Better than Telegram!</p>
                    <p class="font-weight-light font-italic">Pavel Durov</p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>