/*Reviews*/

.reviews{
    background-color: #FFF9C4;
    margin: 15px;
    border-radius: 1%;
  }

  /*account-nav-bar*/

  .account-nav-bar{
      background-color: #FFF9C4;
      color: black;
  }

  