@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
/*nav bar*/
.nav__logo{
    height: 50px;
    width: 110px;
}

/*Reviews*/

.reviews{
    margin: 15px;
    border-radius: 1%;
    font-family: 'Mukta', sans-serif;
  }

  /*account-nav-bar*/

  .account-nav-bar{
      background-color: #E5E5E5;
      color: black;
      width: 280px; 
      height:100vh;
      font-family: 'Mukta', sans-serif;
  }


  