@model GlassProject.models.view_models.ProjectManager

@{
    Layout = "_PersonalAccountLayout";
}

@if (Model.Orders.Count == 0)
{
    <div class="d-flex flex-column text-center" style="padding-top: 15%;">
        <p class="lead">Oops! You don't have any project yet</p>
        <p class="lead">
            <a id="create-project-btn" class="btn btn-primary btn-lg" style="background-color: #FCA311; border: none;"
               role="button">
                Create project
            </a>
        </p>
    </div>
}
else
{
    <div class="card-deck mb-3 text-center">
        @for (int i=0; i< Model.Orders.Count; i++)
        {
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">@Model.Orders[i].Name</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>10 users included</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
                </div>
            </div>
        }
    </div>
}
